name: Build and lint

on:
  - push
  - pull_request

jobs:
  build-and-lint:
    runs-on: fedora-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install LLVM and CMake
        run: |
           dnf copr enable -y @fedora-llvm-team/llvm-snapshots
           dnf install llvm clang clang-tools-extra cmake
      - name: Check format
        run: |
          find . -path ./build -prune -o -type f -name '*.[c|h]' -print | xargs clang-format --style=file --dry-run -Werror
      - name: Configure
        run: |
          # -DCMAKE_EXPORT_COMPILE_COMMANDS=ON is important for clang-tidy
          cmake . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
      - name: Build
        run: |
          cmake --build build
      - name: Lint
        run: |
          run-clang-tidy -p=build
