name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: switch to gcc-15
        run: |
          sudo apt install gcc-15 g++-15
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-15 100 --slave /usr/bin/g++ g++ /usr/bin/g++-15 --slave /usr/bin/gcov gcov /usr/bin/gcov-15
          sudo update-alternatives --set gcc /usr/bin/gcc-15
      - name: Configure
        run: |
          # -DCMAKE_EXPORT_COMPILE_COMMANDS=ON is important for clang-tidy
          cmake . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
      - name: Build
        run: |
          cmake --build build
      - name: Test
        run: |
          cd build && make test
